<footer class="container-fluid content-section alt-section">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>The API Days NZ Conference is organised by HYPR and Sixtree for the benefit of the API community. This includes anyone who is interested in improving the way New Zealand organisations share digital resources with customers using APIs. API Days is all about collaboration and sharing stories.</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h4>Contacts</h4>
            <div class="row">
                <div class="col-md-6"><strong>General:</strong></div>
                <div class="col-md-6"><a href="mailto:saul.caganoff@apidays.nz">saul.caganoff@apidays.nz</a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><strong>Sponsorship:</strong></div>
                <div class="col-md-6"><a href="mailto:gillian.clark@apidays.nz">gillian.clark@apidays.nz</a></div>
            </div>
            <div class="row">
                <div class="col-md-6"><strong>Speaker panel:</strong></div>
                <div class="col-md-6"><a href="mailto:gareth.evans@apidays.nz">gareth.evans@apidays.nz</a></div>
            </div>
        </div>
        <div class="col-md-4">

            <h4><a href="https://hypr.nz" title="HYPR">HYPR</a></h4>
            <h4><a href="http://sixtree.com.au" title="Sixtree">Sixtree</a></h4>
        </div>
    </div>
</footer>