    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Nordic API Days conference | 18.-19.5.2016 | Tampere, Finland">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://apidaysscandic.github.io/"/>
    <meta property="og:title" content="Nordic API Days | 18.-19.5.2016 | Tampere, Finland"/>
    <meta property="og:image" content="http://apidaysscandic.github.io/images/logo.png" />
    <meta property="og:site_name" content="APIDaysNordic"/>
    <meta property="og:description" content="API Days Nordic conference | 18.-19.5.2016 | Tampere, Finland."/>


    <meta name="viewport" content="width=device-width" />
