    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="API Days Scandinavia conference | 18.-19.5.2016 | Tampere, Finland">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://scandinavia.apidays.io/"/>
    <meta property="og:title" content="API Days Scandinavia | 18.-19.5.2016 | Tampere, Finland"/>
    <meta property="og:image" content="https://apidaysscandic.github.io/images/logo.png" />
    <meta property="og:site_name" content="APIDaysScandinavia"/>
    <meta property="og:description" content="API Days Scandinavia conference | 18.-19.5.2016 | Tampere, Finland."/>


    <meta name="viewport" content="width=device-width" />
