    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Scandic API Days">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://scandic.apidays.io/"/>
    <meta property="og:title" content="Scandic API Days"/>
    <meta property="og:image" content="https://hypr.nz/images/logo.png" />
    <meta property="og:site_name" content="ScandicAPIDays"/>
    <meta property="og:description" content="API Days conference."/>

    <meta name="twitter:site" content="@ScandicAPIDays" />
    <meta name="twitter:creator" content="@ScandicAPIDays" />
    <meta name="twitter:domain" content="scandic.apidays.io" />
    <meta name="twitter:title" content="Scandic API Days" />
    <meta name="twitter:description" content="API Days Conference." />

    <meta name="viewport" content="width=device-width" />
