<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="http://nordic.apidays.io">
                API Days Nordic
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="/news/#page-top"></a>
                </li>

                <li class="{{ home }}"><a href="http://nordic.apidays.io/" title="Home">Home</a></li>

		<li class="{{ cfp }}"><a href="http://nordic.apidays.io/location/" title="Call for Papers">Location</a></li>

		<li class="{{ cfp }}"><a href="http://nordic.apidays.io/cfp/" title="Call for Papers">CfP</a></li>

                <li class="{{ programme }}"><a href="http://nordic.apidays.io/programme/" title="Programme">Program</a></li>

		<li class="{{ news }}"><a href="http://nordic.apidays.io/tickets/" title="Tickets">Tickets</a></li>

                <li class="{{ news }}"><a href="http://nordic.apidays.io/news/" title="News">News</a></li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
