<div id="sponsors-platinum" class="container-fluid content-section">

    <div class="text-center sponsor">

        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/images/sponsors/sponsor-for-sale.png" alt=""></a>

        </div>

    </div>

</div>


<div id="sponsors-gold" class="container-fluid content-section">
    <div class="text-center sponsor">
        <div class="row">
            <a href="https://apinf.io" target="_blank" class="col-md-12"><img src="/images/sponsors/apinf-io.png" alt=""></a>
        </div>
    </div>
</div>

<div id="sponsors-silver" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-silver">
        <div class="row">
            <a href="" target="_blank" class="col-md-4"><img src="/images/sponsors/sponsor-for-sale.png" alt="CA"></a>
            <a href="" target="_blank" class="col-md-4"><img src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
            <a href="" target="_blank" class="col-md-4"><img src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
        </div>
    </div>
</div>

<div id="sponsors-bronze" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-bronze">
        <div class="row">
            <span class="col-md-2"></span>
            <a href="" target="_blank" class="col-md-4"><img class="" src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
            <a href="" target="_blank" class="col-md-4"><img class="" src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
            <span class="col-md-2"></span>
        </div>
        <div class="row">
            <span class="col-md-2"></span>
            <a href="" target="_blank" class="col-md-4"><img class="" src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
            <a href="" target="_blank" class="col-md-4"><img class="" src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
            <span class="col-md-2"></span>
        </div>
    </div>
</div>

<div id="sponsors-media" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-media">
        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/images/sponsors/sponsor-for-sale.png" alt=""></a>
        </div>
    </div>
</div>
