<div id="sponsors-gold" class="container-fluid content-section">
    <div class="text-center sponsor">
        <div class="row">
            <a href="https://www.axway.com/" target="_blank" class="col-md-12"><img src="/images/axway.png" alt="Axway"></a>
        </div>
    </div>
</div>

<div id="sponsors-silver" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-silver">
        <div class="row">
            <a href="http://www.ca.com/" target="_blank" class="col-md-4"><img src="/images/ca.png" alt="CA"></a>
            <a href="https://aws.amazon.com/" target="_blank" class="col-md-4"><img src="/images/aws.png" alt="Amazon AWS"></a>
            <a href="https://www.elastic.co/" target="_blank" class="col-md-4"><img src="/images/elastic-logo.png" alt="Elastic"></a>
        </div>
    </div>
</div>

<div id="sponsors-bronze" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-bronze">
        <div class="row">
            <span class="col-md-2"></span>
            <a href="https://www.nzpost.co.nz/" target="_blank" class="col-md-4"><img class="nzpost-logo" src="/images/nzpost.png" alt="Axway"></a>
            <a href="https://www.braintreepayments.com/" target="_blank" class="col-md-4"><img class="braintree-logo" src="/images/braintree-logo.png" alt="Braintree"></a>
            <span class="col-md-2"></span>
        </div>
        <div class="row">
            <span class="col-md-2"></span>
            <a href="http://assurity.co.nz/" target="_blank" class="col-md-4"><img class="assurity-logo" src="/images/assurity-logo.png" alt="Assurity"></a>
            <a href="https://apimatic.io/" target="_blank" class="col-md-4"><img class="apimatic-logo" src="/images/apimatic-logo.png" alt="APIMATIC"></a>
            <span class="col-md-2"></span>
        </div>
    </div>
</div>

<div id="sponsors-media" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-media">
        <div class="row">
            <a href="http://www.infoq.com/" target="_blank" class="col-md-12"><img src="/images/infoq-logo.png" alt="InfoQ"></a>
        </div>
    </div>
</div>