<!DOCTYPE html>

<!--[if !IE]><!-->
<html lang="en-US">
<!--<![endif]-->
<!--[if IE 6 ]><html lang="en-US" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie ie8"><![endif]-->
<head>
    <title>Call for Papers &raquo; Scandic API Days</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="API Days NZ" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body class="BlogHolder" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60">

{% assign home = "link " %}
{% assign cfp = "current  active" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}


<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2 class="brand-heading">
                    <a href="/"><img src="/images/logo.png" alt="Scandic API Days"></a>
                    <span class="sr-only">Scandic API Days &ndash; Call for Papers</span>
                </h2>

                <h1>Scandic API Days &ndash; Call for Papers</h1>

            </div>
        </div>
    </div>
</header>



<section class="container-fluid content-section">

    <div id="BlogContent" class="blogcontent typography">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <article class="blogSummary">
                    <h2>About</h2>

			<p class="p1"><span>
			API Days Scandinavia is part of global series of API Days events organized around the world. For the first time in history Scandinavian API community is gathered in one event to share knowledge, good practices, success stories and insights of emergent API economy. 
			</span></p>
                        <p class="p1"><span>
			Event is organized by <a href="http://apisuomi.fi">API:Suomi</a> (Finnish API community) with support of <a href="http://apidays.io">API Days global network</a>, 
			<a href="https://coss.fi/en/">COSS</a> (the Finnish Centre for Open Systems and Solutions), API Duo OÜ (API strategy consulting) and <a href="http://www.tredea.fi/en/">Tredea</a> (Tampere Region Economic Development Agency). 
			API Days Scandinavia is 2-day event and will be organized in Tampere, Finland.
                        </span></p>
                        <p class="p1"><span>
                        <img src="/images/tampere.png" style="float:left;margin-right:30px;margin-bottom:20px;"/>

			Tampere is the second-largest urban area and third most-populous (~255 000 habitants) individual municipality in the country, after Helsinki and Espoo municipalities (2014 data). It's also the most populous Finnish city outside the Greater Helsinki area and inner Finland's major urban, economic and cultural hub.
			</span></p>
			<p class="p1"><span>
			<b>The City of Tampere</b> is running for the title of Europe’s innovation capital in the contest <b>”The European Capital of Innovation Award – iCapital”</b>, organized by the European Commission. Tampere is growing city with a lot of companies focusing in ICT-development. Tampere is also  home for multiple heavy industry giants like KoneCranes and Kalmar. These companies are pioneers in Internet of BIG things. In addition Tampere based ICT- companies have strong foothold in developing and maintaining national APIs driven data exchange layer (kansallinen palveluväylä) in Finland. 
                        </span></p>


			<p class="p1"><span>
			For these reasons, event focus will be in heavy industry and goverment maintained information exchange layers such as X-Road which is in production both in Finland and Estonia.  
			</span></p>
			
			<h2>Our themes for ‘16</h2>
			<p class="p1"><span>
			API Days Scandinavia is part of global series of API Days events organized around the world. For the first time in history Scandinavian API community is gathered in one event to share knowledge, good practices, success stories and insights of emergent API economy. 
			</span></p>

			<ul>
                          <li><b>Strategy Stream: business imperatives and opportunities afforded by APIs</b></li>
                          <li><b>Execution Stream: design, architecture, security, quality and new technologies</b></li>
			  <li><b>Community Stream: community building, meetups, show cases and workshops</b></li>
			</ul>	
			<p class="p1"><span>
			Session length is 45 minutes including discussions. 
			</span></p>

			<h2>Important dates</h2>
			<ul>
                          <li>Deadline for proposals is: 15.3.2016 21:00 (EET).</li> 
			  <li>Selected speakers are notified 1.4.2016 by email.</li> 
  			</ul>

			<h2>How to submit</h2>
			<p class="p1"><span>
			Submit your suggestion with Google form, which can be found from here. All information given is publicly used unless otherwise stated. Required information is: 
			</span></p>
			<ul>
				<li>CFP title</li> 
				<li>Cfp description (max 150 chars)</li>
				<li>Full name / name of organization</li>
				<li>Short bio / introduction about speaker (max 150 characters)</li>
				<li>Link to presenter photo</li>
				<li>Contact email (not used publicly)</li>
				<li>Presentation language: English or Finnish (English is preferred)</li>
				<li>Cfp categories (choose max 3)</li>

			</ul>

                </article>

            </div>
        </div>

    </div>
</section>
<aside class="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">

</aside>


{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>


</body>
</html>
