<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>API Days Nordic Conference | Tampere, Finland | 18.-19.5.2016</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60" data-twttr-rendered="true">


{% assign home = "link " %}
{% assign location = "current  active" %}
{% assign cfp = "link" %}
{% assign speak = "link " %}
{% assign news = "link " %}

{% include navigation.html %}

<section class="intro">
	<div class="intro-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<h1 class="brand-heading">

						<img src="images/logo.png" alt="API Days Nordic| Tampere | 18.-19.5.2016">

						<span class="sr-only">API Days Nordic Conference | Tampere, Finland | 18.-19.5.2016</span>
					</h1>

					<div class="banner">
						<h1 class="intro-heading">API Days Nordic Conference 2016<br>18th-19th May, Tampere Hall Congress and Concert Centre, Tampere, Finland</h1>
						<p>Heavy Industry and APIs & Government Driven API Platforms & <br/> APIOps (APIs, DevOps, containers, testing, micro services and monitoring).</p>
					</div>

					<div>
					Share: 
					<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapidaysnordic.github.io%2F&t=API%20Days%20Nordic" title="Share on Facebook" target="_blank"><img src="/images/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fapidaysnordic.github.io%2F&text=Scandic%20API%20Days:%20https%3A%2F%2Fapidaysnordic.github.io%2F" target="_blank" title="Tweet"><img src="/images/Twitter.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=https%3A%2F%2Fapidaysnordic.github.io%2F&title=API%20Days%20Nordic" target="_blank" title="Submit to Reddit"><img src="/images/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fapidaysnordic.github.io%2F&title=API%20Days%20Nordic&summary=API%20Days%20Nordic%20Conference%202016%20-%2018th-19th%20May%2C%20Tampere%20Hall%20Congress%20and%20Concert%20Centre%2C%20Tampere%2C%20Finland&source=https%3A%2F%2Fapidaysscandic.github.io%2F" target="_blank" title="Share on LinkedIn"><img src="/images/LinkedIn.png"></a></li>
  <li><a href="mailto:?subject=API%20Days%20Nordic&body=API%20Days%20Nordic%20Conference%202016%20-%2018th-19th%20May%2C%20Tampere%20Hall%20Congress%20and%20Concert%20Centre%2C%20Tampere%2C%20Finland:%20https%3A%2F%2Fapidaysnordic.github.io%2F" target="_blank" title="Email"><img src="/images/Email.png"></a></li>
</ul>
	
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section id="themes" class="section-4 container-fluid alt-section alt-alt-section">
        <div class="section-wrapper">

                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>API economy & APIOps - containers, testing, devops, micro services and monitoring</h2>
				<p class="p1"><span>
				<img src="/images/apiops.png" style="float:right; margin-left:20px;"/>
				In the recent years there has been a major focus on APIs, how are they deployed and managed. APIs started to play a much more dominant role in the areas of IoT moving beyond merely from enabling any product or service to talk to other products or services. Developers taking a lead role in defining how they want and API to be. In a nutshell APIs have become the indication of the maturity of an organizations IT services. <br/></br>Join discussion in Facebook group <a href="https://www.facebook.com/groups/apidaysnordic/" target="top">API Days Nordic</a>
				</span></p>
				
				<p class="p1"><span>
				API Days Nordic is the first of its kind in Scandinavia with the vibrant participants from Scandinavia and Baltics. Scandinavian & Baltic countries have been pioneering open data and eSystems at the government and city level. For example program like 6Aika and Estonian eResidency. Its a very unique opportunity to meet the teams, organizations and people who make this happen. 
 				</span></p>

				<div class="text-hilite">
                                        <img src="/images/rockstars.jpg"/>
                                        <span>
                                                In a nutshell APIs have become the indication of the maturity of an organizations IT services and developers are new rockstars.
                                        </span>
                                </div>
		
				<p class="p1"><span>
				For whom this event is
				<ul>
				<li>Organization is planning to create or has already created APIs for sharing service</li>
				<li>Developers who is using APIs in your development or you are curious about the best practices about designing and managing APIs</li>
				<li>Curious to know more about terms like "API Economy" or "API Design" or "API Documentation".</li>
				</ul>
				</span></p>


                                <p class="p1"><span>
				API Days Nordic is part of global series of API Days events organized around the world. Two days of exciting, informative and showcases and workshops. Its the event to know how APIs enabled architecture the countries IT, how APIs are playing significant role in connecting heavy machinery, how APIs are playing role in IoT and how APIs have become a back bone open data.
			
                                </span></p>
                                <p class="p1"><span>
				Event is organized by <a href="http://apisuomi.fi">API:Suomi</a> (Finnish API community) with support of <a href="http://apidays.io">API Days global network</a>, 
				<a href="https://coss.fi/en/">COSS</a> (the Finnish Centre for Open Systems and Solutions), API Duo OÜ (API strategy consulting), <a href="http://www.tredea.fi/en/">Tredea</a> (Tampere Region Economic Development Agency) and  <a  href="https://apinf.io">apinf.io</a> (open source API management). 
				API Days Nordic is 2-day event and will be organized in Tampere, Finland.
                                </span></p>

                                <p class="p1"><span>
				<b>The City of Tampere</b> is running for the title of Europe’s innovation capital in the contest <b>”The European Capital of Innovation Award – iCapital”</b>, organized by the European Commission. Tampere is growing city with a lot of companies focusing in ICT-development. Tampere is also  home for multiple heavy industry giants like KoneCranes and Kalmar. These companies are pioneers in Internet of BIG things. In addition Tampere based ICT- companies have strong foothold in developing and maintaining national APIs driven data exchange layer (kansallinen palveluväylä) in Finland. 
                                </span></p>


                        </div>
                </div>


                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>Our themes for ‘16</h2>
				<p class="p1"><span>
				API Days Nordic is part of global series of API Days events organized around the world. For the first time in history Scandinavian API community is gathered in one event to share knowledge, good practices, success stories and insights of emergent API economy. 
				</span></p>

                                <div class="page-section-content">
					<ul>
                                        <li><b>Strategy Stream: business imperatives and opportunities afforded by APIs</b></li>
                                        <li><b>Execution Stream: APIs & DevOps (APIOps), design, architecture, security, quality and new technologies</b></li>
					</ul>
				<p class="p1"><span>
				In addition to above tracks, we have reserved room for community driven sessions.
				</span></p>
                                </div>

                        </div>
                </div>


		<div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>Call for Papers in Open!</h2>

                                <div class="page-section-content">
				<p class="p1"><span class="s1">
				Event focus will be in <b>heavy industry and goverment maintained information exchange layers</b> such as X-Road which is in production both in Finland and Estonia. 
				<b></b>Deadline for proposals is: April 5th 2016 21:00 (EET)</b>.</span></p>
				
					<ul>
                                        <li>Strategy Stream: business imperatives and opportunities afforded by APIs</li>
                                        <li>Execution Stream: design, architecture, security, quality and new technologies</li>
					<li>Community sessions: API related community building, show cases, meetups and workshops</li>
					</ul>
                                </div>
                                        <div class="col-md-12 text-center">
                                                <a href="/cfp/" class="btn btn-primary btn-lg">
                                                        Read in full
                                                </a>
                                        </div>



                        </div>
                </div>

                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>Volunteers needed - chance to be part of amazing event!</h2>

                                <div class="page-section-content">
                                <p class="p1"><span class="s1">
				We are looking for volunteers to do various tasks at the event site. Tasks include among others: info desk tasks, hosting tracks, escorting visitors onsite, logistics, organizing tasks etc. 
                                </span></p>
                                </div>
                                        <div class="col-md-12 text-center">
                                                <a href="https://docs.google.com/forms/d/1BYVr9aIrD1Pm7Eh_Hjgs8HPJ0lmmAm0Sz7TTwkJNfLs/viewform" class="btn btn-primary btn-lg">
                                                        Join us now!
                                                </a>
                                        </div>



                        </div>
                </div>




        </div>
</section>


<section id="keynote-speakers" class="section-1 container-fluid content-section">
    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2>Keynotes - more coming soon</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">
                        <div class="speaker">
                            <a href="#">
                                <h4 class="speaker-profile">Andres Kütt<br><small>Chief architect and adviser for the Estonian Information System Authority (RIA)</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/speakers/andres-kutt.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>
<!--
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <div class="speaker">
                            <a href="/2015/09/10/adam-duvander.html">
                                <h4 class="speaker-profile">Adam DuVander<br><small>API Author & Evangelist</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/adam-duvander.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>
-->
                </div>


                <h2>Speakers</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/02/12/mikko-pitkanen.html">
                                <h4 class="speaker-profile">Mikko Pitkänen<br><small>IT Architect at Finnish Patent and Registration Office (PRH)</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/speakers/mikko-pitkanen-prh.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/02/26/karri-niemela.html">
                                <h4 class="speaker-profile">Karri Niemelä<br><small>Chief Technology Officer / X-Road Community Manager</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/speakers/karri.png" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/02/26/jussi-hurmola.html">
                                <h4 class="speaker-profile">Jussi Hurmola<br><small>Chairman of the board, EduCloud Alliance, Education ecosystem disruptor</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/speakers/jussi-hurmola.png" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>


		    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/03/10/taija-bjorklund.html">
                                <h4 class="speaker-profile">Taija Björklund<br><small>Product owner of APInf.io, pioneering open development in open API management. </small></h4>

                                <div class="speaker-image">

                                    <img src="/images/speakers/taija-bjorklund.png" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</section>

<section id="book" class="section-2 container-fluid alt-section">
	<div class="section-wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Tickets are now available!</h2>
				<p class="p1"><span>
				Total amount of tickets is 300. 
				</span></p>
				
			</div>
			<div class="col-md-12 text-center">
                             <a href="https://www.eventbrite.com/e/api-days-nordic-registration-22406049096" class="btn btn-primary btn-lg">
                               Get your ticket now!
                             </a>
                        </div>
		</div>



		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<div class="row bookings-price-list">


					<div class="col-md-4 text-center price-group price-group-1">
						<div class="price-group-wrap">
							<h3>Early Bird (40 first tickets) </h3>
							<p>
								<span class="price">40€</span><br>
								<small>before April 15th &nbsp;</small>
							</p>
						</div>
					</div>

					<div class="col-md-4 text-center price-group price-group-2">
						<div class="price-group-wrap">
							<h3>Standard</h3>
							<p>
								<span class="price">60€</span><br>
								<small>before May 1st &nbsp;</small>
							</p>
						</div>
					</div>

					<div class="col-md-4 text-center price-group price-group-3">
						<div class="price-group-wrap">
							<h3>All other tickets (after May 1st)</h3>
							<p>
								<span class="price">100€</span><br>
								<small>on site with credit card only</small>
							</p>
						</div>
					</div>


					<div class="col-md-12 text-center">
                                                <a href="https://www.eventbrite.com/e/api-days-nordic-registration-22406049096" class="btn btn-primary btn-lg">
                                                        Get your ticket now!
                                                </a>
                                        </div>
				</div>

			</div>
	
		</div>

	</div>
</section>

<section id="workshops" class="section-2 container-fluid alt-section alt-alt-section">
    <div class="section-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Community sessions</h2>
                <div class="page-section-content">
                    <p><span>A range of API related workshops are available for attendees. Spaces are limited so be in quick!</span></p>
                </div>
                <a class="btn btn-primary btn-lg btn-inverse" href="/programme#community">See Community track</a>
            </div>
        </div>
    </div>
</section>


<section id="news" class="container-fluid content-section">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">

			{% assign recent = site.posts.first %}

			<h3>Latest News</h3>
			<article>

				<article class="blogSummary">
					<h2 class="postTitle"><a href="{{ recent.url }}" title="{{ recent.title }}">{{ recent.title }}</a></h2>
					<p class="authorDate"><small class="text-muted">{{ recent.date | date: "%-d %B %Y" }} &ndash; Posted by {{ recent.author }}</small></p>

					<p></p>{{ recent.excerpt }}<p></p>

					<p>
						<a href="{{ recent.url }}" class="readmore" title="Read Full Post">
							Read the full post
						</a>
					</p>
				</article>


			</article>
			<div class="col-md-12 text-center">
                                                <a href="/news/" class="btn btn-primary btn-lg">
                                                        More news
                                                </a>
                        </div>
		</div>
        <div class="col-md-3">
            <div>

	    <a class="twitter-timeline"  href="https://twitter.com/hashtag/apidaysnordic" data-widget-id="696305433083015168">#apidaysnordic Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
	</div>
</section>

<!--
<aside class="sidebar affix-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">

	<nav class="secondary">
		<ol>

			<li class="page-scroll"><a href="/" data-target="#keynote-speakers"><span>/01</span> Keynotes</a></li>

			<li class="page-scroll"><a href="/" data-target="#book"><span>/02</span> Book</a></li>

			<li class="page-scroll"><a href="/" data-target="#register-to-speak"><span>/03</span> Code of Conduct</a></li>

			<li class="page-scroll"><a href="/" data-target="#themes"><span>/04</span> Themes</a></li>

            <li class="page-scroll"><a href="/" data-target="#workshops"><span>/05</span> Workshops</a></li>

            <li class="page-scroll"><a href="/" data-target="#news"><span>/06</span> Latest news</a></li>

		</ol>
	</nav>

</aside>
-->

{% include sponsors.html %}

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script type="text/javascript" src="/js/app.js"></script>
</html>
