<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <style>
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  margin-right:10px;
}
    </style>
    <title>Scandic API Days | API Days Scandinavia Conference | Scandic API Days</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60" data-twttr-rendered="true">


{% assign home = "link " %}
{% assign location = "current  active" %}
{% assign cfp = "link" %}
{% assign speak = "link " %}
{% assign news = "link " %}

{% include navigation.html %}

<section class="intro">
	<div class="intro-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<h1 class="brand-heading">

						<img src="images/logo.png" alt="Scandic API Days | Tampere | 18.-19.5.2016">

						<span class="sr-only">Scandic API Days</span>
					</h1>

					<div class="banner">
						<h1 class="intro-heading">Scandic API Days Conference 2016<br>18th-19th May, Tampere Hall Congress and Concert Centre, Tampere, Finland</h1>
						<p>Heavy Industry and APIs & Government Driven API Platforms & <br/> APIOps (APIs + DevOps).</p>
					</div>

					<div>
					Share: 
					<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapidaysscandic.github.io%2F&t=Scandic%20API%20Days" title="Share on Facebook" target="_blank"><img src="/images/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fapidaysscandic.github.io%2F&text=Scandic%20API%20Days:%20https%3A%2F%2Fapidaysscandic.github.io%2F" target="_blank" title="Tweet"><img src="/images/Twitter.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=https%3A%2F%2Fapidaysscandic.github.io%2F&title=Scandic%20API%20Days" target="_blank" title="Submit to Reddit"><img src="/images/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fapidaysscandic.github.io%2F&title=Scandic%20API%20Days&summary=Scandic%20API%20Days%20Conference%202016%20-%2018th-19th%20May%2C%20Tampere%20Hall%20Congress%20and%20Concert%20Centre%2C%20Tampere%2C%20Finland&source=https%3A%2F%2Fapidaysscandic.github.io%2F" target="_blank" title="Share on LinkedIn"><img src="/images/LinkedIn.png"></a></li>
  <li><a href="mailto:?subject=Scandic%20API%20Days&body=Scandic%20API%20Days%20Conference%202016%20-%2018th-19th%20May%2C%20Tampere%20Hall%20Congress%20and%20Concert%20Centre%2C%20Tampere%2C%20Finland:%20https%3A%2F%2Fapidaysscandic.github.io%2F" target="_blank" title="Email"><img src="/images/Email.png"></a></li>
</ul>
	
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section id="themes" class="section-4 container-fluid alt-section alt-alt-section">
        <div class="section-wrapper">

                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>About</h2>
                                <p class="p1"><span>
				API Days Scandinavia is part of global series of API Days events organized around the world. For the first time in history Scandinavian API community is gathered in one event to share knowledge, good practices, success stories and insights of emergent API economy. 
			
                                </span></p>
                                <p class="p1"><span>
				Event is organized by <a href="http://apisuomi.fi">API:Suomi</a> (Finnish API community) with support of <a href="http://apidays.io">API Days global network</a>, 
				<a href="https://coss.fi/en/">COSS</a> (the Finnish Centre for Open Systems and Solutions), API Duo OÜ (API strategy consulting), <a href="http://www.tredea.fi/en/">Tredea</a> (Tampere Region Economic Development Agency) and  <a  href="https://apinf.io">apinf.io</a> (open source API management). 
				API Days Scandinavia is 2-day event and will be organized in Tampere, Finland.
                                </span></p>

                                <p class="p1"><span>
				<img src="/images/apiops.png" style="float:right; margin-left:20px;"/>
				<b>The City of Tampere</b> is running for the title of Europe’s innovation capital in the contest <b>”The European Capital of Innovation Award – iCapital”</b>, organized by the European Commission. Tampere is growing city with a lot of companies focusing in ICT-development. Tampere is also  home for multiple heavy industry giants like KoneCranes and Kalmar. These companies are pioneers in Internet of BIG things. In addition Tampere based ICT- companies have strong foothold in developing and maintaining national APIs driven data exchange layer (kansallinen palveluväylä) in Finland. 
                                </span></p>


                        </div>
                </div>


                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>Our themes for ‘16</h2>
				<p class="p1"><span>
				API Days Scandinavia is part of global series of API Days events organized around the world. For the first time in history Scandinavian API community is gathered in one event to share knowledge, good practices, success stories and insights of emergent API economy. 
				</span></p>

                                <div class="page-section-content">
					<ul>
                                        <li><b>Strategy Stream: business imperatives and opportunities afforded by APIs</b></li>
                                        <li><b>Execution Stream: APIs & DevOps (APIOps), design, architecture, security, quality and new technologies</b></li>
					</ul>
				<p class="p1"><span>
				In addition to above tracks, we have reserved room for community driven sessions.
				</span></p>
                                </div>

                        </div>
                </div>


<!-- 
                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>Code of Conduct</h2>


                                <div class="page-section-content">
                                        <p class="p1"><span class="s1">Scandic APi Days is dedicated to providing a friendly, safe and welcoming conference environment for everyone. We are relea$
                                </div>

                                <div class="row">
                                        <div class="col-md-12 text-center">
                                                <a href="/2015/09/17/code-of-conduct.html" class="btn btn-primary btn-lg">
                                                        Read in full
                                                </a>
                                        </div>
                                </div>
                        </div>
                </div>
-->
		<div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2>Call for Papers in Open!</h2>

                                <div class="page-section-content">
				<p class="p1"><span class="s1">
				Event focus will be in <b>heavy industry and goverment maintained information exchange layers</b> such as X-Road which is in production both in Finland and Estonia. 
				</span></p>
					<ul>
                                        <li>Strategy Stream: business imperatives and opportunities afforded by APIs</li>
                                        <li>Execution Stream: design, architecture, security, quality and new technologies</li>
					<li>Community sessions: API related community building, show cases, meetups and workshops</li>
					</ul>
                                </div>
                                        <div class="col-md-12 text-center">
                                                <a href="/cfp/" class="btn btn-primary btn-lg">
                                                        Read in full
                                                </a>
                                        </div>



                        </div>
                </div>

        </div>
</section>


<section id="keynote-speakers" class="section-1 container-fluid content-section">
    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2>Keynotes - more coming soon</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">
                        <div class="speaker">
                            <a href="#">
                                <h4 class="speaker-profile">Andres Kütt<br><small>Chief architect and adviser for the Estonian Information System Authority (RIA)</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/speakers/andres.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>
<!--
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <div class="speaker">
                            <a href="/2015/09/10/adam-duvander.html">
                                <h4 class="speaker-profile">Adam DuVander<br><small>API Author & Evangelist</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/adam-duvander.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>

                </div>
-->
<!--
                <h2>Speakers</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2015/09/03/brooke-anderson.html">
                                <h4 class="speaker-profile">Brooke Anderson<br><small>Product Marketing Xero</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/brooke-anderson.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2015/08/26/hadi-michael.html">
                                <h4 class="speaker-profile">Hadi Michael<br><small>Senior Consultant Deloitte</small></h4>

                                <div class="speaker-image">

                                    <img src="/images/hadi-michael.jpg" style="max-width: 100%" />

                                </div>
                            </a>

                        </div>
                    </div>
-->
                </div>

            </div>
        </div>

    </div>
</section>

<section id="book" class="section-2 container-fluid alt-section">
	<div class="section-wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Tickets are available soon!</h2>
				<p class="p1"><span>
				Total amount of tickets is 150. 
				</span></p>
			</div>
		</div>

<!--

		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<div class="row bookings-price-list">


					<div class="col-md-4 text-center price-group price-group-1">
						<div class="price-group-wrap">
							<h3>First 50 tickets </h3>
							<p>
								<span class="price">30€</span><br>
							</p>
						</div>
					</div>

					<div class="col-md-4 text-center price-group price-group-2">
						<div class="price-group-wrap">
							<h3>Early Bird <br><small>before 15th April &nbsp;</small></h3>
							<p>
								<span class="price">50€</span><br>
							</p>
						</div>
					</div>

					<div class="col-md-4 text-center price-group price-group-3">
						<div class="price-group-wrap">
							<h3>All other tickets <br><small> &nbsp;</small></h3>
							<p>
								<span class="price">70€</span><br>
							</p>
						</div>
					</div>
-->
<!--
					<div class="col-md-12 text-center">
                                                <a href="/cfp/" class="btn btn-primary btn-lg">
                                                        Get your ticket now!
                                                </a>
                                        </div>
-->
				</div>

			</div>
	
		</div>

	</div>
</section>

<section id="workshops" class="section-2 container-fluid alt-section alt-alt-section">
    <div class="section-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Community sessions</h2>
                <div class="page-section-content">
                    <p><span>A range of API related workshops are available for attendees. Spaces are limited so be in quick!</span></p>
                </div>
                <a class="btn btn-primary btn-lg btn-inverse" href="/programme#community">See Community track</a>
            </div>
        </div>
    </div>
</section>


<section id="news" class="container-fluid content-section">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">

			{% assign recent = site.posts.first %}

			<h3>Latest News</h3>
			<article>

				<article class="blogSummary">
					<h2 class="postTitle"><a href="{{ recent.url }}" title="{{ recent.title }}">{{ recent.title }}</a></h2>
					<p class="authorDate"><small class="text-muted">{{ recent.date | date: "%-d %B %Y" }} &ndash; Posted by {{ recent.author }}</small></p>

					<p></p>{{ recent.excerpt }}<p></p>

					<p>
						<a href="{{ recent.url }}" class="readmore" title="Read Full Post">
							Read the full post
						</a>
					</p>
				</article>


			</article>
		</div>
        <div class="col-md-3">
            <div>
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/scandicapidays" data-widget-id="696305433083015168">#scandicapidays Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
	</div>
</section>

<!--
<aside class="sidebar affix-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">

	<nav class="secondary">
		<ol>

			<li class="page-scroll"><a href="/" data-target="#keynote-speakers"><span>/01</span> Keynotes</a></li>

			<li class="page-scroll"><a href="/" data-target="#book"><span>/02</span> Book</a></li>

			<li class="page-scroll"><a href="/" data-target="#register-to-speak"><span>/03</span> Code of Conduct</a></li>

			<li class="page-scroll"><a href="/" data-target="#themes"><span>/04</span> Themes</a></li>

            <li class="page-scroll"><a href="/" data-target="#workshops"><span>/05</span> Workshops</a></li>

            <li class="page-scroll"><a href="/" data-target="#news"><span>/06</span> Latest news</a></li>

		</ol>
	</nav>

</aside>
-->

{% include sponsors.html %}

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script type="text/javascript" src="/js/app.js"></script>
</html>
