<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>API Days Nordic Conference Programme | API Days Nordic</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60"
      data-twttr-rendered="true">

{% assign home = "link " %}
{% assign location = "current  active" %}
{% assign cfp = "link" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2 class="brand-heading">
                    <a href="/"><img src="/images/logo.png" alt="API Days NZ"></a>
                    <span class="sr-only">API Days Nordic 2016</span>
                </h2>
		<h1>Program</h1>
            </div>
        </div>
    </div>
</header>

<section id="programme" class="container-fluid content-section">
    <div class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 programme-key">
                        <div class="key-list">
                            <div class="key-title">
                                <span class="key-text">
                                Talk themes key
                                </span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #3ca2c0"></span>
                                <span class="key-text" style="color: #3ca2c0">Keynote</span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #7aa45a"></span>
                                <span class="key-text" style="color: #7aa45a">Business</span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #754994"></span>
                                <span class="key-text" style="color: #754994">Technology</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 class="programme-title"><strong>Wedn 18.5.2016</strong> Program</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row header">
                    <div class="col-md-1 hidden-sm">
                        Start Time
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 location">
                                Business Room
                            </div>
                            <div class="col-sm-6 location">
                                Technology Room
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        8.30
                        <small>am</small>
                    </div>


                    <div class="col-md-11 entry entry-first entry-break">
                        Registration opens
                    </div>


                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.30
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-general">
                        <a href=""> Welcome to API Days &ndash; <strong>Jarkko Moilanen & Timo Väliharju & Chandra Challagonda</strong></a>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href=""><span>Keynote:</span> Architecting a Country &ndash; <strong>Andres Kütt (Est)</strong></a>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href=""><span>Keynote:</span> Execution of digitalisation nation wide &ndash; <strong>TBD</strong></a>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href=""><span>Keynote:</span> API economy & heavy industry &ndash; <strong>TBD</strong></a>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        11:15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Lunch
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Reserved for X-Road topic
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Free for Industry case
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Free for Industry case
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        14.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Break (30 minutes)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Industry case
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/02/12/mikko-pitkanen.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    X-Road Service integration best practices and REST Gateway
                                    <br>
                                    <strong>Mikko Pitkänen &ndash; Finnish Patent and Registration Office</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Industry case
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Reserved for X-Road case (Est)
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        16.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Day 1 closing words (Main hall)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        17.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Networking Drinks and snacks
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- ########### DAY 2 ################ -->


                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 class="programme-title"><strong>Thurs 19.5.2016</strong> Program</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row header">
                    <div class="col-md-1 hidden-sm">
                        Start Time
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 location">
                                Business Room
                            </div>
                            <div class="col-sm-6 location">
                                Technology Room
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        8.30
                        <small>am</small>
                    </div>


                    <div class="col-md-11 entry entry-first entry-break">
                        Registration opens
                    </div>


                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.30
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-general">
                        <a href=""> Welcome to API Days &ndash; <strong>Jarkko Moilanen & Timo Väliharju & Chandra Challagonda</strong></a>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
			<a href=""><span>Keynote:</span> API economy & The Open API Initiative (OAI) &ndash; <strong>TBD</strong></a><br/>
			<img src="/images/sponsors/oai-small.png"/>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="#"><strong>Lightning talks</strong></a>
			<p>APIOps - combination of APIs and DevOps</p>
			<p>Sponsor 2</p>
			<p>Sponsor 3</p>
			<p>Sponsor 4</p>
			<p>Sponsor 5</p>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
		       <a href=""><span>Keynote:</span> Platinum sponsor &ndash; <strong>TBD</strong></a> 
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        11:15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Lunch
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Free for Industry case
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Reserved for X-Road case (Est)
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        14.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Break (30 minutes)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Apinf.io &ndash; Building a bridge between API owners and users
                                    <br>
                                    <strong>Taija Björklund &ndash; apinf.io</strong>
				    <br/>
				    <img src="/images/sponsors/apinf-io-small.png"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Closing speaker (Main hall)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        16.15
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Conference closing words (Main hall)
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- // END DAy 2 -->
<a name="community"/>
    <div id="workshops" class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
			<a name="communityday1"/>
                        <h1 class="programme-title"><strong>18.5.2016</strong> Community Program</h1>
			<p style="color:#000;">All community driven events are in one dedicated room (TBD). 
			<ul>
			<li style="color:#000;">If you want to have a workshop, give presentation or organize community meetup, check out information from here. </li>
			<li style="color:#000;">Room is available for community events between 09:00 - 18:00</li>
			</ul>
                    </div>
                </div>
            </div>
        </div>



         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>09:00 - 10:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Onboarding to X-Road with Joint X-Road community &ndash; <strong> Karri Niemelä</strong></h2>

                        <p>Finnish and Estonian X-Road communities joined forces last year and decided to establish joint global X-Road community. Karri Niemelä
			is current Community Manager. Karri will demonstrate how community works and how it has helped businesses to onboard X-Road with tools such as 
			integration patterns with code examples.</p>
			<img src="/images/joint-x-road.png" style="float:left; margin-left:20px;"/>
<!--                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregi" target="_blank">Book Now</a>
-->
                        <a class="btn btn-primary btn-lg" href="https://apidaysnordic.github.io/2016/02/26/karri-niemela.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>13:00 - 14:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>14:00 - 15:00 APIOps: APIs and DevOps workshop &ndash; <strong> APIOps Finland</strong></h2>

                        <p>DevOps and APIs related workshop to discuss and identify solutions, best practices and possibilities. </p>
			<img src="/images/apiops.png" style="float:left; margin-left:20px;"/>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>15:00 - 16:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


    </div>



    <div id="workshops" class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
			<a name="communityday1"/>
                        <h1 class="programme-title"><strong>19.5.2016</strong> Community Program</h1>
			<p style="color:#000;">All community driven events are in one dedicated room (TBD). 
			<ul>
			<li style="color:#000;">If you want to have a workshop, give presentation or organize community meetup, check out information from here. </li>
			<li style="color:#000;">Room is available for community events between 09:00 - 16:00</li>
			</ul>
                    </div>
                </div>
            </div>
        </div>



         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>09:00 - 10:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>13:00 - 14:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>14:00 - 15:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p>Submit your proposal now!</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>



    </div>


</div>

</section>

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
