<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>API Days Nordic Conference Programme | API Days Nordic</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60"
      data-twttr-rendered="true">

{% assign home = "link " %}
{% assign location = "current  active" %}
{% assign cfp = "link" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2 class="brand-heading">
                    <a href="/"><img src="/images/logo.png" alt="API Days NZ"></a>
                    <span class="sr-only">API Days Nordic 2016</span>
                </h2>
		<h1>Program</h1>
            </div>
        </div>
    </div>
</header>

<section id="programme" class="container-fluid content-section">
    <div class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 programme-key">
                        <div class="key-list">
                            <div class="key-title">
                                <span class="key-text">
                                Talk themes key
                                </span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #3ca2c0"></span>
                                <span class="key-text" style="color: #3ca2c0">Keynote</span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #7aa45a"></span>
                                <span class="key-text" style="color: #7aa45a">Business</span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #754994"></span>
                                <span class="key-text" style="color: #754994">Technology</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 class="programme-title"><strong>Wedn 18.5.2016</strong> Program</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row header">
                    <div class="col-md-1 hidden-sm">
                        Start Time
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 location">
                                Business Room
                            </div>
                            <div class="col-sm-6 location">
                                Technology Room
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        8.30
                        <small>am</small>
                    </div>


                    <div class="col-md-11 entry entry-first entry-break">
                        Registration opens
                    </div>


                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.30
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-general">
                        <a href=""> Welcome to API Days &ndash; <strong>Jarkko Moilanen & Timo Väliharju & Chandra Challagonda</strong></a>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="/2016/02/08/andres-kutt.html"><span>Keynote:</span> Architecting a Country &ndash; <strong>Andres Kütt (Est)</strong></a>
			<br/>
			<img src="/images/speakers/andres-kutt.jpg"/>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="#"><span>Keynote:</span> API economy & The Open API Initiative (OAI) &ndash; <strong>TBD</strong></a><br/>
			<img src="/images/sponsors/oai-small.png"/>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="#"><span>Keynote:</span> The Bot revolution and it's consequences for APIs &ndash; <strong>Nicolas Grenié</strong></a>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        11:15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Lunch
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-streams">
                                <a href="#" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    The role of APIs in Holland's biggest IT project ever
                                    <br>
                                    <strong>Dimitri van Hees &ndash; Apiwise</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/03/16/mika-karaila.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Visual meta programming and APIs
                                    <br>
                                    <strong>Mika Karaila &ndash; Manager of research programs at Valmet, Automation business line</strong>
				  <!--  <br/>
				    <img src="/images/speakers/mika-karaila.png" style="width:250px;"/>
				     -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Leveraging the cloud and APIs as a platform for innovation
                                    <br>
                                    <strong>Mikael Puittinen &ndash; SC5 Online</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Introducing Babel: A new interface description language
                                    <br>
                                    <strong>Ken Elkabany &ndash; Dropbox</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        14.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Break (30 minutes)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="/2016/03/20/giuliano-iacobelli.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    API: Lego for developers
                                    <br>
                                    <strong>Giuliano Iacobelli &ndash; Stamplay</strong>
				    <!-- <br/>
				    <img src="/images/speakers/giuliano.png" style="width:250px;"/>
					-->
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/02/12/mikko-pitkanen.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Retrofitting APIs with X-Road features
                                    <br>
                                    <strong>Mikko Pitkänen &ndash; National Board of Patents and Registration</strong>
				    <!-- <br/>
				    <img src="/images/speakers/mikko-pitkanen-prh.jpg" style="width:250px;"/>
					-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Build and manage a Serverless API
                                    <br>
                                    <strong>Nicolas Grenié &ndash; 3Scale</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    APIs That Will Love You
                                    <br>
                                    <strong>Nada Jasikova &ndash; Apiary</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        16.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Day 1 closing words (Main hall)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        17.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Networking Drinks and snacks
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- ########### DAY 2 ################ -->


                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 class="programme-title"><strong>Thurs 19.5.2016</strong> Program</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row header">
                    <div class="col-md-1 hidden-sm">
                        Start Time
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 location">
                                Business Room
                            </div>
                            <div class="col-sm-6 location">
                                Technology Room
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        8.30
                        <small>am</small>
                    </div>


                    <div class="col-md-11 entry entry-first entry-break">
                        Registration opens
                    </div>


                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.30
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-general">
                        <a href=""> Welcome to API Days &ndash; <strong>Jarkko Moilanen & Timo Väliharju & Chandra Challagonda</strong></a>
		
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
			<a href=""><span>Keynote:</span> Sponsor Spot &ndash; <strong>TBD</strong></a><br/>
			<!-- <img src="/images/sponsors/oai-small.png"/> -->
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="#"><strong>Lightning talks</strong></a>
			<p>APIOps - combination of APIs and DevOps</p>
			<p>Sponsor 2</p>
			<p>Sponsor 3</p>
			<p>Sponsor 4</p>
			<p>Sponsor 5</p>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
		       <a href="/2016/03/23/ivo-lohmus.html"><span>Keynote:</span> Securing Public Services with Blockchain &ndash; <strong>Ivo Lõhmus (EST)</strong></a> 
			<br/>
                        <img src="/images/speakers/ivo.png"/>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        11:15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Lunch
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-streams">
                                <a href="#" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Open APIs in education to disrupt the ways to offer and consume learning
                                    <br>
                                    <strong>Jussi Hurmola &ndash; EduCloud Alliance</strong>
				    <br/>
				    <a href="http://press.educloudalliance.org/" target="top"><img src="/images/sponsors/educloud-alliance.png" style="width:250px;"/></a>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Free for Industry sponsor case
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="/2016/03/10/taija-bjorklund.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Open API Management
                                    <br>
                                    <strong>Taija Björklund &ndash; APInf.io</strong>
				    <br/>
				    <a href="https://apinf.io" target="top"><img src="/images/sponsors/apinf-logo-small.png"/></a>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Reserved for X-Road case (Est)
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        14.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Break (30 minutes)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
				    
				 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Closing speaker (Main hall)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        16.15
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Conference closing words (Main hall)
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- // END DAy 2 -->
<a name="community">&nbsp;</a>
    <div id="workshops" class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
			<a name="communityday1">&nbsp;</a>
                        <h1 class="programme-title"><strong>18.5.2016</strong> Community Program</h1>
			<p style="">All community driven events are in one dedicated room (TBD). 
			<ul>
			<li style="">If you want to have a workshop, give presentation or organize community meetup, check out information from here. </li>
			<li style="">Room is available for community events between 09:00 - 18:00</li>
			</ul>
                    </div>
                </div>
            </div>
        </div>



         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>09:00 - 10:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Onboarding to X-Road with Joint X-Road community &ndash; <strong> Karri Niemelä</strong></h2>

                        <p>Finnish and Estonian X-Road communities joined forces last year and decided to establish <a href="https://jointxroad.github.io/" target="top">joint global X-Road community</a>. Karri Niemelä
			is current Community Manager. Karri will demonstrate how community works and how it has helped businesses to onboard X-Road with tools such as 
			integration patterns with code examples.</p>
			<!-- <img style="width:50%;" src="/images/joint-x-road.png"/> -->
<!--                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregi" target="_blank">Book Now</a>
-->
<!--
			<br/>
                        <a class="btn btn-primary btn-lg" href="https://apidaysnordic.github.io/2016/02/26/karri-niemela.html">Read More</a>
                    --></div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>13:00 - 14:00 Your topic &ndash; <strong> Your name</strong></h2>
                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>14:00 - 15:00 APIOps: APIs and DevOps workshop &ndash; <strong> APIOps Finland</strong></h2>

                        <p>DevOps and APIs related workshop to discuss and identify solutions, best practices and possibilities. </p>
			<img src="/images/apiops.png" style="float:left; margin-left:20px;"/>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>15:00 - 16:00 AWS Serverless Workshop &ndash; <strong> Mikael Puittinen</strong></h2>

                        <p>The workshop introduces the audience to
			AWS services such as API Gateway, Lambda functions that enable developers to develop services to the cloud without deploying any servers. the serverless framework that streamlines the process of developing and deploying API Gateway / Lambda based solutions
			The workshop consists of a short theory introduction and of a step-by-step tutorial how to build a simple blog backend using API Gateway, Lambda and serverless.
			</p>

			<p></p>Prerequisites for the workshop (for the hands-on excercise):
			<ul>
			<li>A laptop with Node 4 or 5 installed An AWS account</li>
			<li>An AWS IAM User with Administrator privileges and keys set up on the laptop AWS CLI recommended but not required</li>
			<li>Instructions for preparing the environment will be given here later.</li>
			</ul>
			</p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


    </div>



    <div id="workshops" class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
			<a name="communityday1">&nbsp;</a>
                        <h1 class="programme-title"><strong>19.5.2016</strong> Community Program</h1>
			<p style="">All community driven events are in one dedicated room (TBD). 
			<ul>
			<li style="">If you want to have a workshop, give presentation or organize community meetup, check out information from <a href="http://nordic.apidays.io/cfp/"><b>here</b></a>.</li>
			<li style="">Room is available for community events between 09:00 - 16:00</li>
			</ul>
                    </div>
                </div>
            </div>
        </div>



         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>09:00 - 10:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>10:00 - 11:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>13:00 - 14:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>14:00 - 15:00 Your topic &ndash; <strong> Your name</strong></h2>

                        <p><a href="http://nordic.apidays.io/cfp/">Submit your proposal now!</a></p>
<!--
                        <a class="btn btn-primary btn-lg" href="https://javascript-for-apis.lilregie.com/" target="_blank">Book Now</a>
                        <a class="btn btn-primary btn-lg" href="/2015/09/24/javascript-for-apis.html">Read More</a>
-->
                    </div>
                </div>
            </div>
        </div>



    </div>


</div>

</section>

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
