<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>API Days Nordic Conference Programme | API Days Nordic</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60"
      data-twttr-rendered="true">

{% assign home = "link " %}
{% assign location = "current  active" %}
{% assign cfp = "link" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2 class="brand-heading">
                    <a href="/"><img src="/images/logo.png" alt="API Days Nordic"></a>
                    <span class="sr-only">API Days Nordic 2016</span>
                </h2>
		<h1>Program</h1>
            </div>
        </div>
    </div>
</header>

<section id="programme" class="container-fluid content-section">
    <div class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 programme-key">
                        <div class="key-list">
                            <div class="key-title">
                                <span class="key-text">
                                Talk themes key
                                </span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #3ca2c0"></span>
                                <span class="key-text" style="color: #3ca2c0">Keynote</span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #7aa45a"></span>
                                <span class="key-text" style="color: #7aa45a">Business</span>
                            </div>

                            <div class="key-item">
                                <span class="key-color" style="background-color: #754994"></span>
                                <span class="key-text" style="color: #754994">Technology</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 class="programme-title"><strong>Wedn 18.5.2016</strong> Program</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row header">
                    <div class="col-md-1 hidden-sm">
                        Start Time
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 location">
                                Business Room
                            </div>
                            <div class="col-sm-6 location">
                                Technology Room
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        8.30
                        <small>am</small>
                    </div>


                    <div class="col-md-11 entry entry-first entry-break">
                        Registration opens
                    </div>


                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.30
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-general">
                        Welcome to API Days &ndash; <strong>Jarkko Moilanen & Timo Väliharju & Chandra Challagonda & city of Tampere</strong>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="/2016/02/08/andres-kutt.html"><span>Keynote:</span> Architecting a Country &ndash; 
			<strong>Andres Kütt (Estonian information system architect)</strong></a>
			<br/>
			<img src="/images/speakers/andres-kutt.jpg"/>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="/2016/05/09/ibm-keynote.html"><span>Keynote:</span> Business, IT and the pursuit of APIness &ndash; 
			<strong>Sami Koivisto (IBM)</strong></a>
			<br/>
			<img src="/images/speakers/sami.png"/>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <a href="/2016/04/14/nicolas-grenie.html"><span>Keynote:</span> The Bot revolution and it's consequences for APIs &ndash; <strong>Nicolas Grenié (Nicolas is a Hacker in Residence at 3scale)</strong></a>
			<br/>
                        <img src="/images/speakers/nico.png"/>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        11:15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Lunch
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/04/14/dimitri-vanhees.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    The role of APIs in Holland's biggest IT project ever
                                    <br>
                                    <strong>Dimitri van Hees &ndash; Apiwise</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/03/16/mika-karaila.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Visual meta programming and APIs
                                    <br>
                                    <strong>Mika Karaila &ndash; Manager of research programs at Valmet, Automation business line</strong>
				  <!--  <br/>
				    <img src="/images/speakers/mika-karaila.png" style="width:250px;"/>
				     -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="/2016/04/14/mikael-puittinen.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Leveraging the cloud and APIs as a platform for innovation
                                    <br>
                                    <strong>Mikael Puittinen &ndash; SC5 Online</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/04/15/ken-elkabany.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Introducing Babel: A new interface description language
                                    <br>
                                    <strong>Ken Elkabany &ndash; Dropbox</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        14.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Break (30 minutes)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="#" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Onboarding to X-Road with Joint X-Road community & Know-how materials related to X-Road
                                    <br>
                                    <strong>Karri Niemelä &ndash; Joint X-Road community & Heiko Vainsalu &ndash; RIA</strong>
                                </a>
                            </div>
<!--
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/02/12/mikko-pitkanen.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Retrofitting APIs with X-Road features
                                    <br>
                                    <strong>Mikko Pitkänen &ndash; National Board of Patents and Registration</strong>
                                </a>
                            </div>
-->
			    <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/04/17/nada-jasikova.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    APIs That Will Love You
                                    <br>
                                    <strong>Nada Jasikova &ndash; Apiary</strong>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.45
                        <small>pm</small>
                    </div>

                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="/2016/04/16/annukka-varteva.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    How to boost data driven business by harmonizing city APIs
                                    <br>
                                    <strong>Annukka Varteva, Riku Oja and Roope Suomalainen &ndash; 6Aika Avoin data ja rajapinnat / FVH</strong>
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/02/12/mikko-pitkanen.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Retrofitting APIs with X-Road features
                                    <br>
                                    <strong>Mikko Pitkänen &ndash; National Board of Patents and Registration</strong>
                                </a>
                            </div>
<!-- 
			    <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/04/17/nada-jasikova.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    APIs That Will Love You
                                    <br>
                                    <strong>Nada Jasikova &ndash; Apiary</strong>
                                </a>
                            </div>
-->

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        16.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Day 1 closing words (Main hall)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        17.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Networking Drinks and snacks
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- ########### DAY 2 ################ -->


                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 class="programme-title"><strong>Thurs 19.5.2016</strong> Program</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row header">
                    <div class="col-md-1 hidden-sm">
                        Start Time
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 location">
                                Business Room
                            </div>
                            <div class="col-sm-6 location">
                                Technology Room
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        8.30
                        <small>am</small>
                    </div>


                    <div class="col-md-11 entry entry-first entry-break">
                        Registration opens
                    </div>


                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.30
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-general">
                        <a href=""> Welcome to API Days &ndash; <strong>Jarkko Moilanen & Timo Väliharju & Chandra Challagonda</strong></a>
		
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        9.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
			<a href="/2016/05/06/sita.html"><span>Keynote:</span> How SITA's API Platform is influencing the API strategy for the Air Transport Industry (ATI) &ndash; <strong>Manraj Sabarwal</strong></a><br/>
			<!-- <img src="/images/sponsors/manraj.png"/> -->
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
                        <strong>Lightning talks</strong><br/>
			<p>10 minutes: API Model Canvas - business plan tool for APIs (Jarkko Moilanen, API:Suomi & Manfred Bortenschlager, 3Scale)</p>
			<p>10 minutes: APIOps API expert training in Tampere University of Applied Sciences (Ari Rantala)</p>
			<p>20 minutes: API economy & The Open API Initiative (OAI) - Board member</p>
			<p>Open slot...</p>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        10.45
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-keynote">
		       <a href="/2016/03/23/ivo-lohmus.html"><span>Keynote:</span> Securing Public Services with Blockchain &ndash; <strong>Ivo Lõhmus</strong></a> 
			<br/>
                        <img src="/images/speakers/ivo.png"/>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        11:15
                        <small>am</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Lunch
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/02/26/jussi-hurmola.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Open APIs in education to disrupt the ways to offer and consume learning
                                    <br>
                                    <strong>Jussi Hurmola &ndash; EduCloud Alliance</strong>
					<!--
				    <br/>
				    <a href="http://press.educloudalliance.org/" target="top"><img src="/images/sponsors/educloud-alliance.png" style="width:250px;"/></a>
					-->
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/05/07/ibm.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    The power of API aggregation - Build your applications with cognitive APIs 
                                    <br>
                                    <strong>Sandra Calvo &ndash; IBM</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        13.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="/2016/03/10/taija-bjorklund.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Open API Management
                                    <br>
                                    <strong>Taija Björklund &ndash; APInf.io</strong>
					<!--
				    <br/>
				    <a href="https://apinf.io" target="top"><img src="/images/sponsors/apinf-logo-small.png"/></a>
					-->
                                </a>
                            </div>
                            <div class="col-sm-6 entry entry-streams">
                                <a href="/2016/05/01/tuukka-hastrup.html" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Realtime and general purpose open APIs at Digitransit
                                    <br>
                                    <strong>Tuukka Hastrup &ndash; Helsinki Region Transport (HSL)</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        14.30
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Break (30 minutes)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.00
                        <small>pm</small>
                    </div>
                    <div class="col-md-11">
                        <div class="row">

                            <div class="col-sm-6 entry entry-first entry-streams">
                                <a href="/2016/05/04/nicolas-grenie.html" class="entry-streams-holder"
                                   style="color: #7aa45a; border-left-color: #7aa45a;">
                                    <div class="visible-xs talk-location">Business Room</div>
                                    Build and manage a Serverless API
                                    <br>
                                    <strong>Nicolas Grenié &ndash; 3Scale</strong>
                                </a>
                            </div>

                            <div class="col-sm-6 entry entry-streams">
                                <a href="" class="entry-streams-holder"
                                   style="color: #754994; border-left-color: #754994;">
                                    <div class="visible-xs talk-location">Technology Room</div>
                                    Free for Sponsor
                                    <br>
                                    <strong>Firstname Lastname &ndash; Organisation</strong>
				    
				 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        15.45
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Closing speaker (Main hall)
                    </div>
                </div>

                <div class="row programme-entry">
                    <div class="col-md-1 entry-time">
                        16.15
                        <small>pm</small>
                    </div>
                    <div class="col-md-11 entry entry-first entry-break">
                        Conference closing words (Main hall)
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- // END DAy 2 -->
<a name="community">&nbsp;</a>
    <div id="workshops" class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
			<a name="communityday1">&nbsp;</a>
                        <h1 class="programme-title"><strong>18.5.2016</strong> Community Program</h1>
			<p style="">All community driven events are in one dedicated room (TBD). 
			<ul>
			<li style="">If you want to have a workshop, give presentation or organize community meetup, check out information from here. </li>
			<li style="">Room is available for community events between 09:00 - 18:00</li>
			</ul>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>13:30 - 14:00 Explaining APIs to Kids who own a digital piggybank like ERNIT and ask how does it work - and an Customer Success Journey &ndash; 
			<strong> Amandeep Midha</strong></h2>

			<p>Is it possible to teach kids about digital piggybank, explain them money, currency, savings, and especially when they ask how does it work ?</p>

<p>Explaining APIs for acceptance by non-technical colleagues has always been a challenge. Tools like Swagger have helped surely but a large amount of business managers, customer campaign managers, business consultants still are unaware of what APIs can do for them; and what they can actually ask for and phrase a requirement from service providers or partners</p>

<p>There exists a common problem if you are:
<ul>
<li>A kid on the path of financial literacy journey through ERNIT</li>
<li>A business manager looking to get data from other provider</li>
<li>A recent webshop owner and looking to integrate with more than one default provider of payment, review feed, or online ratings</li>
<li>A tech-savvy wizard who loves to automate things, but unsure when not to re-invent the wheel by making use of APIs</li>
</ul>
</p>

<p>At ERNIT we not only teach children about financial literacy, but also try to answer how does it work. How easy or difficult it is to connect to a bank, how they like to sit on information and not provide us easily, what it is to transfer money from one person to another, from one account to another, and one country to another ... And based upon how much this kid gets to know about APIs, this kid might soon wants us to switch his savings to another currency by virtue of just knowing that technically by the APIs, it is actually possible</p>

<p>Can a teenager of tomorrow with experience with ERNIT, Netflix, iTunes play role in defining how an API should be and what should it provide to him, and how much he is willing to pay? This might be start of what is coming next when literacy of API reaches the masses whose demands just need to be tapped. How will it go against current banking system, media reports, regulations and will they get to all co-exist in API economy?</p>

<p>Amandeep comes from over 14 years of technical implementation experience at customer sites and consulting from large scale enterprise systems integrations, to recently as microservices advocate driving and focussing on efficiency of process delivery and building stable turnkey solutions for customers across Denmark, France, UK, China, and India. His recent assignment with ERNIT is to integrate the digital piggybank with all banks in Europe and with Bitcoin solutions, while also educating and interacting with actual customers of solution seeking their participation in building it</p>

                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>14:00 - 15:00 Practical API Management Crash Course &ndash; <strong> Manfred Bortenschlager (@manfredbo) and Nicolas Grenié (@picsoung)</strong></h2>

                        <p>Presenters Manfred Bortenschlager (@manfredbo) and Nicolas Grenié (@picsoung) will take you through the necessary steps to set up the infrastructure to secure and monitor traffic to your API using an API gateway implemented with 3scale. They'll also share some best practices, tricks and tools you can use to help you test, debug and monitor your API.</p>

			<p>Topics covered will include::
			<ul>
			<li>Set up basic security and authentication for an API using an API gateway and 3scale</li>
			<li>Configure user access policies and monitor usage by each application</li>
			<li>Test, debug, and monitor APIs and setup.</li>
			</ul>
			</p>
			<p><b>Register to workshop <a href="http://pages.3scale.net/apidays-tampere-workshop.html">with this form</a></b></p>
                    </div>
                </div>
            </div>
        </div>
	
	
	<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>15:00 - 17:00 AWS Serverless Workshop &ndash; <strong> Mikael Puittinen</strong></h2>

                        <p>The workshop introduces the audience to
			AWS services such as API Gateway, Lambda functions that enable developers to develop services to the cloud without deploying any servers. the serverless framework that streamlines the process of developing and deploying API Gateway / Lambda based solutions
			The workshop consists of a short theory introduction and of a step-by-step tutorial how to build a simple blog backend using API Gateway, Lambda and serverless.
			</p>

			<p></p>Prerequisites for the workshop (for the hands-on excercise):
			<ul>
			<li>A laptop with Node 4 or 5 installed An AWS account</li>
			<li>An AWS IAM User with Administrator privileges and keys set up on the laptop AWS CLI recommended but not required</li>
			<li>Instructions for preparing the environment will be given here later.</li>
			</ul>
			</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div id="workshops" class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
			<a name="communityday1">&nbsp;</a>
                        <h1 class="programme-title"><strong>19.5.2016</strong> Community Program</h1>
			<p style="">All community driven events are in one dedicated room (TBD). 
			<ul>
			<li style="">If you want to have a workshop, give presentation or organize community meetup, check out information from <a href="http://nordic.apidays.io/cfp/"><b>here</b></a>.</li>
			<li style="">Room is available for community events between 09:00 - 16:00</li>
			</ul>
                    </div>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>13:00 - 14:00 APIs.guru - Wikipedia for Web APIs &ndash; <strong> Ivan Goncharov</strong></h2>

                        <p>In this presentation we will see the principles of API description languages and those of API Discovery. And understand why public catalogs of API definitions is core of future IoA. Whole talk is based on APIs.guru project as example of such catalog.</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>14:00 - 15:00 Deploy an API gateway with Docker &ndash; <strong> Sandro Cirulli</strong></h2>
			<p>
                        An API gateway is a single entry point for APIs in a microservices infrastructure. It provides authentication and authorization layers, routes and load balances requests to 
			API services, and caches previous requests. Being the first entry point of the API, it is crucial to manage and provision it through code rather than using a manual process. Furthermore, replicating its configuration on development and staging environments allows to load test the API gateway and to anticipate issues before it is deployed to production.
                        </p>
                        <p>
                        I demonstrate the deployment of an API gateway using Docker. Technologies used include:
                        <ul>
                        <li>Docker</li>
                        <li>openresty/nginx</li>
                        <li>3scale API management</li>
                        <li>AWS EC2</li>
                        </ul>
                        </p>

                        <p>
                        I discuss the benefits of using Docker and how it simplifies changes of configuration and deployment to multiple environments. Sample code and brief documentation are available on GitHub at http://github.com/cirulls/docker-api-gateway
                        </p>

                    </div>
                </div>
            </div>
        </div>



         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>15:00 - 15:45 Digitransit tutorial &ndash; <strong> Tuukka Hastrup</strong></h2>

                        <p>More info coming soon.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

</section>

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
